<!--binding data-->
<div>
   <h1>{{user.name}}</h1>
   <p>{{user.age}}</p>
   <img [src]="user.image" alt="">
</div>

<input type="text" [(ngModel)]="myname">
<button (click)="change()"> click me to change name</button>

<!-- ngIf directive-->
<p *ngIf="display == true "> Hey</p>
<img [src]="user.image" *ngIf="display == true" alt="">
<button (click)="Visible()"> click me to change name</button>

<!-- ngFor directive-->
<div *ngFor="let item of students">
  <ng-container *ngIf="item.age == 22">
    <h5>{{ item.name }}</h5>
    <p>{{ item.age }}</p>
  </ng-container>
</div>

<!--NgSwitch directive-->
<div [ngSwitch]="color">
  <p *ngSwitchCase=" 'red' ">this is red </p>
  <p *ngSwitchCase=" 'blue' ">this is blue </p>
  <p *ngSwitchCase=" 'yellow' ">this is yellow </p>
  <p *ngSwitchCase=" 'green' ">this is green </p>
</div>


<!--NgStyle directive-->
<div [ngStyle]="{ 'background-color':client.color}">
  <h4>{{client.name}}</h4>
  <p>{{client.age}}</p>
</div>
