<!--binding data-->
<div>
   <h1>{{user.name}}</h1>
   <p>{{user.age}}</p>
   <img [src]="user.image" alt="">
</div>

<input type="text" [(ngModel)]="myname">
<button (click)="change()"> click me to change name</button>

<!-- ngIf directives-->
<p *ngIf="display == true "> Hey</p>
<img [src]="user.image" *ngIf="display == true" alt="">
<button (click)="Visible()"> click me to change name</button>

<!-- ngFor directives-->
<div *ngFor="let item of students">
  <ng-container *ngIf="item.age == 22">
    <h5>{{ item.name }}</h5>
    <p>{{ item.age }}</p>
  </ng-container>

</div>
